<style>
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: url("coding-laptop.jpg");
  background-size: cover;
}

nav {
  height: 80px;
  width: 100%;
}

label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

nav a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

nav a:hover {
  background: white;
  color: black;
  transition: .5s;
}

.container {
  
  padding-top: 8%;
}

.container h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 125px;
  font-weight: bold;
  letter-spacing: 20px;
}

.container p {
  text-align: center;
  font-size: 50px;
}

.container button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  background: #3498db;
  cursor: pointer;
  transition: 02s;
}

.container button:hover {
  border: 2px solid #2ecc71;
  background: #2ecc71;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
}
  
 .text-slider-items {
    display: none;
}
  
.check {
  display: none;
}
.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}
@media (min-width: 2500px) and (max-height: 1000px) {
  body {
    background-image: url("ultrawidephoto.png");
  }
}

@media (max-height: 926px) {
  body {
    background-image: url("phone-image.png");
  }
}
</style>
